@media only screen and (max-width: 358px){
.adLayer{
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	margin: 0 auto;
}
.contentContainer{
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	background-color: #000;
}
.logo{
	text-align: center;
}
.leftSidebar{
	position: relative;
	left: -175px;
	color: blue;
}
.actionContainer{
	position: relative;
	width: 100%;
	height: 400px;
}
.footer {
	position: relative;
	width: 100%;
	height:175px;
}

}