@media only screen and (max-width: 358px){
.adLayer{
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	margin: 0 auto;
}
.contentContainer{
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	background-color: #000;
}
.logo{
	text-align: center;
}

.askContainer{
	position: relative;
	float: left;
	width: 358px;
	height: 80%;
	background-color: red;
}
.footer {
	position: relative;
	margin-top: 0px;
	width: 100%;
	height: 150px;
	bottom: 0px;
	background-color: #FFF;
}
.footerL1 {
	float:left;
	width: 19%;
	height: 150px;
	border-right-style:dotted;
	border-width:1px;
}
.footerL2 {
	float:left;
	width: 19%;
	height: 150px;
	border-right-style:dotted;
	border-width:1px;
}
.footerL3 {
	float:left;
	width: 19%;
	height: 150px;
	border-right-style:dotted;
	border-width:1px;
}
.footerL4 {
	float:left;
	width: 19%;
	height: 150px;
}
.leftSidebar{
	position: absolute;
	left: -175px;
	width: 175px;
	height: 600px;
	color: blue;
}
}